In [19]:
import numpy as np  # библиотека для матриц и математики
import pandas as pd  # библиотека для работы с табличками
from scipy import stats  # модуль для работы со статистикой
import scipy

# библиотеки для визуализации
import matplotlib.pyplot as plt
import seaborn as sb

import math

plt.style.use('ggplot')  # стиль графиков

%matplotlib inline

In [20]:
xls = pd.ExcelFile(r'./../table.xls')
df = xls.parse(1)
df

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,A17,A18,A19,A20
0,1061,Alaska Pacific University,AK,IIB,454,382,362,382,N,567,485,471,487,N,6,11,9,4,32,N
1,1063,Univ.Alaska-Fairbanks,AK,I,686,560,432,508,Y,914,753,572,677,Y,74,125,118,40,404,Y
2,1065,Univ.Alaska-Southeast,AK,IIA,533,494,329,415,N,716,663,442,559,Y,9,26,20,9,70,N
3,11462,Univ.Alaska-Anchorage,AK,IIA,612,507,414,498,Y,825,681,557,670,Y,115,124,101,21,392,Y
4,1002,Alabama Agri.&Mech. Univ.,AL,IIA,442,369,310,350,N,530,444,376,423,N,59,77,102,24,262,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1068,3825,West Virginia Inst. of Tech.,WV,IIB,408,340,297,349,N,502,419,369,431,N,54,43,29,11,137,N
1069,3827,West Virginia University,WV,I,535,431,361,439,Y,642,521,438,529,N,335,237,272,22,895,Y
1070,3830,West Virginia Wesleyan Coll.,WV,IIB,441,383,339,383,N,572,494,434,495,N,25,22,24,3,74,N
1071,3831,Wheeling Jesuit College,WV,IIB,403,348,282,315,N,486,416,348,381,N,8,20,25,12,65,N
1072,3932,University of Wyoming,WY,I,539,410,374,445,Y,658,507,464,549,Y,241,154,164,2,591,Y

# 9.1.1

In [21]:
X = df.A15.to_numpy()
Y = df.A13.to_numpy()

In [29]:
X

array([  6,  74,   9, ...,  25,   8, 241], dtype=int64)

In [30]:
Y

array([487, 677, 559, ..., 495, 381, 549], dtype=int64)

In [24]:
r, _ = stats.pearsonr(X, Y)
s1 = np.std(X, ddof=1)
s2 = np.std(Y, ddof=1)
r, s1, s2

(0.5719628587649872, 145.87346745206614, 118.50561190713184)

In [25]:
beta_0 = np.mean(Y) - r * (s2/s1) * np.mean(X)

In [26]:
beta_1 = r * (s2/s1)

In [27]:
beta_0, beta_1

(488.9932986745056, 0.46465481180372936)