In [1]:
import numpy as np  # библиотека для матриц и математики
import pandas as pd  # библиотека для работы с табличками
from scipy import stats  # модуль для работы со статистикой

# библиотеки для визуализации
import matplotlib.pyplot as plt
import scipy.stats as st
import seaborn as sns

import math

from statsmodels.stats.weightstats import ztest as ztest

plt.style.use('ggplot')  # стиль графиков

%matplotlib inline
#A4 A20

In [2]:
xls = pd.ExcelFile(r'./../table.xls')
df = xls.parse(3)
df

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
0,64,Female,Former,21.48380,Often,1298.8,57.0,6.3,0.0,170.3,1945,890,200,915
1,76,Female,Never,23.87631,Often,1032.5,50.1,15.8,0.0,75.8,2653,451,124,727
2,38,Female,Former,20.01080,Not often,2372.3,83.6,19.1,14.1,257.9,6321,660,328,721
3,40,Female,Former,25.14062,No,2449.5,97.5,26.5,0.5,332.6,1061,864,153,615
4,72,Female,Never,20.98504,Often,1952.1,82.6,16.2,0.0,170.8,2863,1209,92,799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,46,Female,Former,25.89669,No,2263.6,98.2,19.4,2.6,306.5,2572,1261,164,216
311,45,Female,Never,23.82703,Often,1841.1,84.2,14.1,2.2,257.7,1665,465,80,328
312,49,Female,Never,24.26126,Often,1125.6,44.8,11.9,4.0,150.5,6943,520,300,502
313,31,Female,Former,23.45255,Often,2729.6,144.4,13.2,2.2,381.8,741,644,121,684
314,45,Female,Never,26.50808,Often,1627.0,77.4,9.9,0.2,195.6,1242,554,233,826

In [3]:
n = len(df.C2)
X1 = df.C2.to_numpy()
X2 = df.C5.to_numpy()

In [4]:
confusion_mx = pd.crosstab(X1, X2)
confusion_mx

col_0   No  Not often  Often
row_0
Female  87         77    109
Male    24          5     13

In [12]:
122 + 82 + 111

315

In [15]:
tmp = st.chi2_contingency(confusion_mx)[3]
np.sum(tmp,axis=1)

array([273.,  42.])

In [5]:
st.chi2_contingency(confusion_mx)

(11.070979092770376,
 0.003944277256603154,
 2,
 array([[ 96.2       ,  71.06666667, 105.73333333],
        [ 14.8       ,  10.93333333,  16.26666667]]))