In [2]:
import numpy as np         # библиотека для матриц и математики
import pandas as pd        # библиотека для работы с табличками
from scipy import stats    # модуль для работы со статистикой

# библиотеки для визуализации
import matplotlib.pyplot as plt
import seaborn as sns

import math

plt.style.use('ggplot')    # стиль графиков

%matplotlib inline

# 8.1

In [3]:
xls = pd.ExcelFile(r'./../table.xls')
df = xls.parse(3)
df

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
0,64,Female,Former,21.48380,Often,1298.8,57.0,6.3,0.0,170.3,1945,890,200,915
1,76,Female,Never,23.87631,Often,1032.5,50.1,15.8,0.0,75.8,2653,451,124,727
2,38,Female,Former,20.01080,Not often,2372.3,83.6,19.1,14.1,257.9,6321,660,328,721
3,40,Female,Former,25.14062,No,2449.5,97.5,26.5,0.5,332.6,1061,864,153,615
4,72,Female,Never,20.98504,Often,1952.1,82.6,16.2,0.0,170.8,2863,1209,92,799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,46,Female,Former,25.89669,No,2263.6,98.2,19.4,2.6,306.5,2572,1261,164,216
311,45,Female,Never,23.82703,Often,1841.1,84.2,14.1,2.2,257.7,1665,465,80,328
312,49,Female,Never,24.26126,Often,1125.6,44.8,11.9,4.0,150.5,6943,520,300,502
313,31,Female,Former,23.45255,Often,2729.6,144.4,13.2,2.2,381.8,741,644,121,684
314,45,Female,Never,26.50808,Often,1627.0,77.4,9.9,0.2,195.6,1242,554,233,826

In [8]:
X = df.C11.to_numpy()
Y = df.C12.to_numpy()

In [9]:
X

array([1945, 2653, 6321, 1061, 2863, 1729, 5371,  823, 2895, 3307, 1714,
       2031, 1982, 2120, 1388, 3888, 2194, 3470, 2108, 1157, 1739, 1008,
        606, 1380, 4916, 4451, 5983, 2413, 3087,  521, 2431, 3141, 1668,
       4366,  494, 7026, 1529,  241,  998, 6082, 2741, 2100, 2359,  603,
       1625, 2888, 1099, 2103, 2260,  452, 3549, 2204, 4964, 1052, 3572,
       2902, 1788, 5111, 1378, 1431, 1727, 2893, 2524, 2533,  982, 1535,
        326, 1487, 1114, 1080, 2492, 1349, 6948, 1086, 2629, 1307, 1306,
       3465, 1846, 1334, 4848, 1734, 1120, 1498,  330, 5909, 3326, 2110,
       2719, 2309, 1153, 1432, 2493, 3054, 1861, 4268, 1652, 1802, 2308,
       1210,  214, 1370, 2354, 2446, 3473, 3359, 1062, 1489, 3982, 1656,
        768, 1496,  683,  885, 1662, 1552, 2144, 3567, 1423, 1293, 2111,
       2874, 1699,  954, 1368, 3318, 2247,  910, 1171, 2077, 1210, 1826,
       2628,  561, 1893, 1312, 1913,  924,  728, 4387, 1976, 2422, 1407,
       1301, 1112, 1052, 1008, 1054, 1484,  657,  604, 2912,  869, 1578,
       1210, 1554, 3445, 3014, 1666, 1462, 1272, 5296, 5605, 2430, 2375,
       3753,  695, 1649, 2317, 1702, 1007, 2308, 4694, 2749, 1497, 1171,
       3054, 1488,  829, 1037,  846, 1382, 3407,  758,  599, 1073,  862,
       4291, 1668, 2809, 2373, 1850, 1352, 2315, 1417, 4504,  998, 4430,
       3201, 3686, 2131,  852, 2781, 1151, 3970,  808,  843, 2537, 2205,
        587, 3591, 3434, 2869, 2515,  807,  766,  720,  516, 3785, 1436,
        613, 1460, 2251, 2029, 8046, 1074, 3556, 1218, 2199, 5810, 1214,
       2215, 1678, 2579,  925,  404, 2008, 2469,  755, 1718, 2133, 1167,
        619,  908, 3690, 3425, 2787,  675, 2142, 2299,  544,  604, 6558,
       2661, 7362, 2583, 1028, 3435, 1527, 2047, 2897, 1987, 4271,  868,
        578,  953, 1048, 1439, 3324,  921, 1192, 1665, 3610, 3317, 3313,
       1270, 1915, 4013,  902, 2247, 4832,  577, 1884, 3172, 3102, 1186,
       1237, 4098, 2889, 1097,  570, 2627,  849, 2174, 1456, 3728, 1987,
       1022, 2079,  406,  621, 2652, 1745, 2121, 1078, 2672, 4935, 1118,
       9642, 1392, 2572, 1665, 6943,  741, 1242], dtype=int64)

In [10]:
Y

array([ 890,  451,  660,  864, 1209, 1439,  802, 2571,  944,  493,  535,
        492, 1105, 1047,  980, 1545,  242,  479,  921,  445,  926,  695,
        944,  708, 1150,  554,  320,  656, 1199,  975,  914, 1579, 1618,
       1759,  608,  508,  517,  314,  588,  674,  419, 1083,  834,  473,
        707,  323,  651,  855,  264,  550,  969,  239,  374,  605,  809,
       1065,  677, 1359,  685,  724,  898, 1364, 1250,  592,  854,  493,
        407, 1120,  453,  724, 1310,  860,  417,  464, 1470,  178, 1163,
        743,  760,  486, 1005, 1215,  619, 1066,  394, 1702,  928, 1458,
       1323,  578, 1048, 1006,  640, 4041,  783,  341, 1525,  233, 1838,
       1291,  914,  695,  842,  881, 1326, 1060, 1070,  490,  350,  652,
        719,  546,  627,  687,  779,  326,  815,  963, 1845, 1101,  950,
        159, 2263, 1328,  427,  651,  728,  605,  453, 1374,  555,  386,
        966,  947,  426,  688, 1048,  684,  797,  926,  417,  208, 1335,
        307,  735,  441,  783,  366,  790,  441,  432, 2104, 1595,  689,
        795,  675, 1015, 1340,  859,  868,  145,  554,  858,  746, 1284,
        649,  270,  751,  437, 1224, 6901,  982,  864,  329,  244,  465,
        629,  706,  887,  239, 2118,  222,  532,  454,  845,  486,  160,
        661,  666,  482, 1816,  309,  455, 1196,  451,  294,  699,  632,
       1574,  523,  227,  311,  757,  498,  390,  349, 1616,  295,  824,
        215, 1178, 2167,  741, 1340,  141,  604,  701,  730,  642,  522,
        509,  322, 1404,  898,  453,  399,  577,  978,  481,  840, 1119,
       1450, 1307, 1026,  707, 1050,  638,  538,  417, 1052,  728, 1169,
         79, 1478, 1113,  859, 1210,  403,  601, 1529,   30,  378,  816,
        854,  964,  632, 3061, 1104,  822, 1125,  505,  608,  916,  106,
        319, 1176,  991,  476, 1558,  668,  657,  937, 1825,  766, 1250,
        544,  594, 1485,  302,  682,  793,  444,  641,  658,  453,  466,
        285,  909, 1529,  966,  747, 1627,  962, 1814,  443,  587,  670,
        125,  597,  806,  579, 1098,  445,  426,  416,  294,  422, 1257,
        634, 1027, 1261,  465,  520,  644,  554], dtype=int64)

In [13]:
X.shape

(315,)